@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');

* {
    font-family: 'Montserrat';
}

body {
    font-family: 'Montserrat';
    font-weight: 400;
    background-color: rgb(78, 11, 37);
}

label {
    margin-top: 19px;
    margin-bottom: 19px;
    margin-left: 15px;
    display: flex;
    align-items: center;
    background-color: rgb(78, 11, 37);
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}

label img{
    margin-left: 11px;
    display: flex;
    align-items: center;
}

.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(168, 168, 168);
    border-radius: 5px;
}

.nav ul {
    display: flex;
}

.nav ul li {
    list-style: none;
}   

.nav ul li h2 {
    margin: 8px;
}

.nav div {
    margin-top: 15px;
    margin-right: 15px;
}

.nav div a {
    margin-right: 11px;
    text-decoration: none;
}

.nav .auth {
    display: flex;
    align-items: center;
    margin: 0;
    margin-right: 15px;
}

.nav ul {
    padding: 0;
}

.nav ul li h2 {
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.h2 {
    background-color: rgb(168, 168, 168);
    border-radius: 4px;
    list-style: none;
}

.h2 ul {
    list-style: none;
    justify-content: center;
    margin-right: 15px;
    margin-left: 1px;
    padding-left: 15px;
}

.h2 img {
    height: 500px;
    margin: 0;
    border-radius: 4px;
}

.h2 ul img {
    height: 200px;
}

.h2 ul li h1 {
    font-family: 'Patua One', cursive;
}

.marine {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-right: 0;
    margin: 0;
}

.marine img {
    width: 100%;
    padding: 0;
    image-resolution: auto;
}

.paragraph {
    font-family: 'Inconsolata', monospace;
    display: flex;
    justify-content: space-between;
    margin-right: 12px;
    margin-bottom: 12px;
    padding: 4px;
}

.paragraph ul {
    padding-left: 12px;
}

.paragraph ul li h4 {
    font-size: 13px;
    padding-left: 0;
    margin: 0;
}

.img-1 {
    margin-left: 15px;
}

.img-2 {
    padding: 0;
    margin: 0;
}

.img-3 {
    margin-right: 15px;
}

@media screen and (max-width: 925px) {
    body {
        position: static;
        font-size: smaller;
    }
    .nav {
        position: static;
        background-position: auto;
    }
    .nav label {
        font-size: smaller;
    }
    .nav ul h2 {
        font-size: small;
    }
    .marine img {
        width: 100px;
        height: auto;
    } 
    .h2 {
        padding-right: 0;
    }
    .h2 ul img {
        height: 100px;
    }
}
